@font-face {
  font-family: modernFont;
  src: url(../assets/fonts/ModernSans-Light.otf)
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: modernFont, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #fbf4f4;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  background-color: #fbf4f4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.iconoCarrito {
  background-color: #e1a2ab;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0.3vw;
}

.tituloMain {
  color: #bb4c5a;
}

.botonMain {
  background-color: #e1a2ab;
}

.botonMain:hover {
  background-color: #c48b93;
}

.mainContainer {
  margin-top: 5vw;
}

.mainCirculo {
  width: 30vw;
}

.textMain {
  width: 30vw;
}

.mainBody {
  border-radius: 3vw;
  box-shadow: 0 0 40px rgba(0,0,0,0.25);
}

.pointer {
 position: relative;
  width: 90px;
  height: 82.18px;
  left: 50%;
  transform: translateX(-50px);
  top: -308px;
  border-radius: 4px;
  background-image: url(./images/pointer.svg);
  background-repeat: no-repeat;
}



